[user]
	name = rukurx
	email = rukurx@users.noreply.github.com
[core]
	# 除外設定ファイルパス
	excludesfile = ~/.gitignore_global
	# デフォルトのエディタをVIMにする
	editor = vim
	repositoryformatversion = 0
	# ファイルのパーミッション設定をチックする
	filemode = true
	bare = false
	logallrefupdates = true
	# 大文字小文字区別
	ignorecase = false
	# 日本語のファイル名扱う
	precomposeunicode = true
	# 日本語ファイル名表示(git status等でエスケープ処理しない)
	quotepath = false
[merge]
	ff = false
[alias]
	au = add -u
	b = branch
	ba = branch -a
	c = commit
	ca = commit -a
	cam = commit -am
	cm = commit -m
	cancel = reset --soft HEAD^ # 直前のcommit取り消し
	co = checkout
	cob = checkout -b
	cof = checkout -f
	com = checkout master
	df = diff
	dfrm = diff remotes/origin/master # ローカルブランチとリモートのmasterブランチの差分表示
	f = fetch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	pro = pull --rebase origin
	prom = pull --rebase origin master
	puo = push -u origin
	st = status
	sts = status -s
	unstage = reset HEAD # git add取り消し
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = red
	untracked = cyan
